
@font-face { font-family: 'Roboto-Medium'; src: url('../fonts/roboto/Roboto-Medium.ttf') format('truetype'); }
.fontRoboto {font-family: 'Roboto-Medium', sans-serif;}

@font-face { font-family: 'Lato-Light'; src: url('../fonts/Lato2OFL/Lato-Light.ttf') format('truetype'); }
.fontLatoLight { font-family: 'Lato-Light'; }
@font-face { font-family: 'Lato-Medium'; src: url('../fonts/Lato2OFL/Lato-Medium.ttf') format('truetype'); }
.fontLatoMedium { font-family: 'Lato-Medium'; }

@font-face { font-family: 'earthorbiterbold'; src: url('..\fonts\earth_orbiter\earthorbiterbold.ttf') format('truetype');}
.fontEarthOrbiterBold { font-family: 'earthorbiterbold'; }

@font-face { font-family: 'Quicksand-Bold'; src: url('..\fonts\quicksand\Quicksand-Bold.otf') format('opentype'); }
.fontQuickSand { font-family: 'Quicksand-Bold'; }

@font-face { font-family: 'Josefin Sans', sans-serif; src: url('https://fonts.googleapis.com/css?family=Josefin+Sans:700italic'); }
.fontJosefinSans { font-family: 'Josefin Sans', sans-serif; }

@font-face {
    font-family: 'SqueakyChalkSound';
    src: url('../fonts/SqueakyChalkSound.ttf') format('truetype');
}
.font_chalk {  font-family: 'SqueakyChalkSound'; }

@font-face {
    font-family: 'geonms-webfont';
    src: url('../fonts/geonms-webfont.ttf') format('truetype');
}
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
       url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
       url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
.font_genoms {
    font-family: 'geonms-webfont';
}

body, html { height:100%; min-height:100%;}
body { min-height: 100%; height: 100%; font-family: Lato-Medium; overflow-x:hidden;}

.temp_border {border:solid 1px black;} 

.footer { bottom:0px; width:100%; position:relative; }

datalist ItemTemplate{ height:20px; width:20px; }

.round_border { border-radius:15%;}
.border_rounded { border-radius:50%;}

.colorWhiteFront { color:white;}

.colorRedBackground { background:#F16745; }
.colorRedFront { color:#F16745; }

.colorYellowBackground { background:#FC65D5; }
.colorYellowFront { color:#FFC65D; }

.colorGreenBackground { background:#7BC8A4; }
.colorGreenFront { color:#7BC8A4; }

.colorBlueBackground { background:#4CC3D9; }
.colorBlueFront { color:#4CC3D9; }

.colorPurpleBackground { background:#93648D; }
.colorPurpleFront { color:#93648D; }

.colorBlackBackground { background:#404040; }
.colorBlackFront { color:#404040; }
.colorPitchBlackBG { background-color:#000000; }

.colorBlueMaterialBG {background-color:rgb(33, 150, 200);}
.colorBlueMaterialFG {color:rgb(33, 150, 200);}

.colorRedMaterialBG {background-color:#ff5252;}
.colorRedMaterialFG {color:#ff5252;}

.colorGreenMaterialBG {background-color:rgb(76, 175, 80);}
.colorGreenMaterialFG {color:rgb(76, 175, 80);}

.colorDarkGreenMaterialBG { background-color:#00897b; }

.colorGreyMaterialFG {color:#e0e0e0;}
.colorGreyMaterialBG {background-color:#e0e0e0;}

.colorBlackMaterialBG {background-color:#9e9e9e;}
.colorBluishMaterialBG { background-color:#607d8b; }

.colorBrownBG{background-color:#3A2313;}
.colorBrownFG{color:#3A2313;}

.materialGreenWhite { background-color:#00897B;color:white;}


.fontSize100 { font-size:100%;}
.fontSize50 { font-size:50%;}
.fontSize1em { font-size:1em;}
.fontSizeOneHalfem { font-size:1.5em;}
.fontSize2em { font-size:2em;}
.fontSize5em { font-size:5em;}


.fontSize2em { font-size:2em;}
.fontSize3em { font-size:3em;}
.fontSize4em { font-size:4em;}
.fontSize5em { font-size:5em;}

.margin1{margin-top:1%;}
.marginTop2 { margin-top:2%;}
.margin3 { margin-top:3%;}
.margin4 { margin-top:4%;}
.margin5 { margin-top:5%;}
.marginTop33 {margin-top:33%;}

.margin5 { margin-top:5%;}
.margin-5 { margin-top:-5%;}
.margin10 { margin-top:10%;}

.margin_2 { margin:2%;}
.padding1 { padding:1%; }
.padding2 { padding:2%; }
.padding3 { padding:3%; }
.padding5 { padding:5%; }
.padding10 { padding:10%; }

.height100 { height:100%; min-height:100%;}
.center_element { display:flex;justify-content:center;align-items:center; }

a {text-decoration:none;}
.footer a {text-decoration:none;color:white;}

@keyframes example {
    0%   {margin-top: -2%;}
    50%  {margin-top: -5%;}
    100% {margin-top: -2%;}
}
.continous_bounce{
    display: inline-block;
    animation-name: example;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.circle_text {
    width: 150px;
    height: 150px;
    line-height: 150px;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    background: #000;
   
}

.primary_text { background-color:#EEEEEE; color:#000000;opacity:.87;}
.secondary_text {  background-color:#EEEEEE;color:#000000;opacity:.54;}
.hint_text {  background-color:#EEEEEE;color:#000000;opacity:.38;}